* {
  box-sizing: border-box;
}

body {
  background: #1c1b21;
  color: #fafafa;
  font-size: 55px;
  font-family: "Fira Sans", sans-serif;
}

.container {
  border: 10px solid #6c38cc;
  height: 200vh;
  display: flex;
  flex-direction: column; /*начнет от начала flex*/
  justify-content: space-evenly; /*flex-start это лево так как стартовая вспомогательная сторона слева*/
  /*space-between делает так чтобы каждый элемент из контейнера были друг от дуруга на одинаковом растоянии, как и space-around только там будет что он  распределяет флекс-элементы так, что между ними образуется равное расстояние, а снаружи крайних элементов — по половине этого расстояния (отступы по краям в два раза меньше, чем между элементами). Свободное место делится поровну между всеми элементами, делая края визуально меньше*/
  /*space-evenly. распределяющее свободное место так, что расстояние между любыми двумя элементами, а также от крайних элементов до границ контейнера, становится абсолютно одинаковым. Оно создает равномерный отступ по всей ширине/высоте, отличаясь от space-around тем, что края не сжаты вдвое.*/
}

.item {
  background: #232228;
  border: 1px solid #6c38cc;
  text-align: center;
  padding: 10px;
}
