#heroButton {
  background-color: #4262ff;
  color: #ffffff;
}

#heroButton:hover {
  background-color: #122db6;
}

#heroButton:active {
  background-color: #071766;
}
#heroButton.test.test2 {
  background-color: #4262ff;
}

.heroForm input:focus {
  background-color: aliceblue;
}

.link {
  color: #4262ff;
  text-decoration: underline;
  font-size: 18px;
}
/* 
a::after {
  color: red;
  content: " ! ";
}

a::before {
  color: red;
  content: " ! ";
} */

h1 {
  font-size: 48px;
  line-height: 56px;
}
.heroText {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #696688;
}

h2 {
  font-size: 48px;
  line-height: 56px;
}
.sectionText {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #696688;
}

header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #050038;
  text-decoration: none;
}

.heroForm + p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #050038;
}

/*p:not(.sectionText){
  color: red ;
}*/

nav ul {
  list-style: none;
}

.sectionList {
  list-style: none;
  /* list-style-image: url("../images//check.svg"); */
}

.sectionList li::before {
  content: url("../images//check.svg");
}

.experimentBlue {
  background: #071766;
  width: 400px; /* ширина */
  height: 300px; /* высота*/
  color: white;
  padding: 10px 20px 30px 40px; /* проще сказать что 10px сверху, 20 px справа, 30px снизу, 40px слева*/
  border: 5px solid grey;
}
